* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

:root {
  /* color pallet */
  --brand-color: #00b140;
  --title-color: #023047;
  --text-default-color: #000;
  --text-btn-color: #fff;
  --focus-color: #b5d8c3;
  /* --shadowBox-color: #C7C7C7; */

  /* font styles */
  --main-font: "Roboto", sans-serif;
}

html {
  font-family: var(--main-font);
}

.login-component {
  display: flex;
  flex-flow: column wrap;
  margin: 20vh auto;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.411);
  height: 500px;
  width: 50%;
  border-radius: 8px;
  padding: 1rem;
}
